<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>18:00</td>  <td>Welcome and research talks</td> </tr>
      <tr> <td>18:35</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html" target="_blank" rel="noopener noreferrer">Introduction to R and RStudio</a> </td> </tr>
      <tr> <td>19:30</td>  <td>Project management with RStudio</td> </tr>
      <tr> <td>20:00</td>  <td>Data Structures</td> </tr>
      <tr> <td>20:55</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>18:00</td>  <td>Welcome and research talks</td> </tr>
      <tr> <td>18:35</td>  <td>Getting started with tidyverse</td> </tr>
      <tr> <td>19:05</td>  <td>Manipulating tibbles with dplyr</td> </tr>
      <tr> <td>20:00</td>  <td>Creating publication-quality graphics</td> </tr>
      <tr> <td>20:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>21:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>21:05</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
